<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756892835726-edodcqbe6e92io8vqpj8vagakf5si3ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756892835726-edodcqbe6e92io8vqpj8vagakf5si3ch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756892835726-s47m7vcrojbe7a2q80h5e07kgdvdcdc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8opEpQ0dJXdY9G8FoGydq8vI4CbSiaY</string>
	<key>GCM_SENDER_ID</key>
	<string>756892835726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.offTopMobile</string>
	<key>PROJECT_ID</key>
	<string>off-top-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>off-top-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756892835726:ios:d2b2ceb5228390da204edf</string>
	<key>DATABASE_URL</key>
	<string>https://off-top-firebase.firebaseio.com</string>
</dict>
</plist>